.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 0;
}

@media (max-width: 768px) {
    .place__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 650px) {
    .place__title {
        margin-left: 16px;
    }
}

@media (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}

