.header {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 96px);
    padding-top: 28px;
    margin: 0 auto 48px;
    text-align: center;
}

@media (max-width: 1024px){
    .header {
        max-width: calc(100% - 96px);
        margin-bottom: 48px;
    }
}

@media (max-width: 768px){
    .header {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 320px){
    .header {
        max-width: calc(100% - 32px);
        padding-top: 16px;
    }
}