.place__paragraph {
    margin: 0 0 26px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media (max-width: 650px) {
    .place__paragraph {
        margin-left: 16px;
    }
}