.lead__subtitle {
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 64px;
    color: white;
    font-family: "Inter-Regular";
}

@media (max-width: 1024px){
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 650px) {
    .lead__subtitle {
    font-size: 28px;
    }
}

@media (max-width: 320px){
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}