.cover__title {
    margin: 0 auto 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    color: white;
    z-index: 2;
}

@media (max-width: 650px) {
    .cover__title {
        max-width: 300px;
        font-size: 38px;
        line-height: 35px;
        line-height: 40px;
    }
}

@media (max-width: 320px) {
    .cover__title {
        max-width: 248px;
        margin-bottom: 16px;
        font-size: 32px;
    }
}
